#navbar {
    display: flex;
    gap: 20px;
}

#home-message {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}