.word-grid {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
    padding-top: 100px;
    margin-left: 30%;
}   
  
.square {
    float: left;
    background: white;
    border: 2px solid lightgray;

    /* text */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    /* box */
    margin: 2.5px;
    padding: 0;
    text-align: center;
    width: 60px;
    height: 60px;
}

.square.green {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.square.yellow {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.square.grey {
    background-color: #787C7E;
    color: white;
    border-color:white;
}

.square.white {
    background-color: white;
    color: black;
    border-color:lightgray;
}

.square.bad-word-anim {
    animation-name: bad-word;
    animation-duration: 0.05s;
}

@keyframes bad-word {
    0% {
        background-color: white;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}