.keyboard {
    position: absolute;
    bottom: 0px;
    padding-bottom: 100px;
    margin-left: 15%;
}

.keyboard-row {
    width: 800px;
    // margin: 0 auto;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
}

.key {
    float: left;
    background: white;
    border: 2px solid lightgray;

    // text
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    // box
    margin: 2.5px;
    padding: 0;
    text-align: center;
    width: 60px;
    height: 60px;
}

.green {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.yellow {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.grey {
    background-color: #787C7E;
    color: white;
    border-color:white;
}

.white {
    background-color: white;
    color: black;
    border-color:lightgray;
}